@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "buttons": rgb(0, 81, 92),
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//Importing bootstrap scss
@import "../node_modules/bootstrap/scss/bootstrap.scss";
